<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>CowServ</title>
		<style type="text/css" media="screen">
			pre { margin-left: 1em; }
		</style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
